.MagicCurtainRoot {
  position: relative;
}

.MagicCurtainItem {
  position: absolute;
  z-index: 0;
  inset: 0;

  --animation-duration: 3s;
}

@media (min-width: 500px) {
  .MagicCurtainItem {
    --animation-duration: 3.5s;
  }
}

@media (min-width: 800px) {
  .MagicCurtainItem {
    --animation-duration: 4s;
  }
}

@media (min-width: 1100px) {
  .MagicCurtainItem {
    --animation-duration: 4.5s;
  }
}

@media (min-width: 1500px) {
  .MagicCurtainItem {
    --animation-duration: 5s;
  }
}

@media (min-width: 1800px) {
  .MagicCurtainItem {
    --animation-duration: 5.5s;
  }
}

@media (min-width: 2100px) {
  .MagicCurtainItem {
    --animation-duration: 6s;
  }
}

@property --gradient-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 90deg;
}

.MagicCurtainItem[data-state='hiding'] {
  position: relative;
  z-index: 1;

  /* we default `--gradient-angle` to `90deg` for browsers that don't support @property */
  mask-image: linear-gradient(
    var(--gradient-angle, 90deg),
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 50%
  );

  mask-size: 230% 100%;
  animation: mask var(--animation-duration) ease-in-out;
}

.MagicCurtainItem[data-state='hiding'][data-animation-direction='reverse'] {
  mask-image: linear-gradient(
    var(--gradient-angle, 90deg),
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 50%
  );

  animation-direction: reverse;
}

@keyframes mask {
  0% {
    --gradient-angle: 95deg;
    mask-position: 0% 0%;
  }
  25% {
    --gradient-angle: 95deg;
    mask-position: 0% 0%;
  }
  75% {
    --gradient-angle: 85deg;
    mask-position: 100% 0%;
  }
  100% {
    --gradient-angle: 85deg;
    mask-position: 100% 0%;
  }
}
